* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Bodoni Poster';
  src: url('/fonts/bodoni-poster.eot'); /* IE9 compat modes */
  src: url('/fonts/bodoni-poster.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/bodoni-poster.woff') format('woff'), /* Modern Browsers */
       url('/fonts/bodoni-poster.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Futura Book Bold';
  src: url('/fonts/futura-book-bold.ttf') format('truetype');
  src: url('/fonts/futura-book-bold.woff') format('woff');
}

body {
  font-family: 'Futura Book Bold', Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

}

.continent {

  .header {
    height: 16.7vh;
    line-height: 16.7vh;
    min-height: 160px;
    min-width: 550px;
    color: #FFF;
    font-size: 30px;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }

    .continent-container {
      width: 500px;
      margin: 0 auto;
      text-align: left;

      .icon {
      width: 125px;
      height: 125px;
      display: inline-block;
      vertical-align: middle;
  }

    .continent-name {
      letter-spacing: 3px;
      margin: 0 0 0 10px;
    }

    .continent-total {
      font-family: 'Bodoni Poster';
      margin: 0 0 0 10px;
    }
  }

  }

.row {
  .countries-container {
    margin: 0 auto;
    text-align: center;
  }
}
  .country-container {
    width: 250px;
    display: inline-block;
    padding: 50px 60px;
    text-transform: uppercase;
    vertical-align: top;
    text-align: left;
    
    .country-name {
      position: relative;
      padding: 0;
      font-size: 1.3em;
      height: 50px;
      margin: 0 0 25px 0;
      .name {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    .country-name:before {
      content: '';
      position: absolute;
      width: 40px;
      height: 3px;
      bottom: -5px;
      left: 0;
    }
    .count {
      display: block;
      font-size: 3.3em;
      margin: 14px 0 -8px 0;
      font-family: 'Bodoni Poster';
    }
    .info {
      font-size: 0.7em;

      &.hidden{
        display: none;
      }
    }
  }
}

.europe {
  background-color: #6B0062;
  color: #6A005F;
  .country-name:before {
    background-color: #6A005F;
  }
  .count {
    color: #33022E; 
  }
  .row:nth-child(odd) {
    background-color: #E1CCDE;
  }
  .row:nth-child(even) {
    background-color: #D7B7D3;
  }
}
.asia {
  background-color: #9F0006;
  color: #A00006;

  .country-name:before {
    background-color: #A00006;
  }
  .count {
    color: #480306; 
  }
  .row:nth-child(odd) {
    background-color: #ECCCCC;
  }
  .row:nth-child(even) {
    background-color: #E4B5B7;
  }
}
.south-america {
  background-color: #D2653C;
  color: #D16438;
   
  .country-name:before {
    background-color: #D16438;
  }
  .count {
    color: #4F170C; 
  }
  .row:nth-child(odd) {
    background-color: #F3DDD3;
  }
  .row:nth-child(even) {
    background-color: #F3D4C8;
  } 
}

.north-america {
  background-color: #006695;
  color: #006795;

  .country-name:before {
    background-color: #006795;
  }
  .count {
    color: #002E3C; 
  }
  .row:nth-child(odd) {
    background-color: #CAE0EA;
  }
  .row:nth-child(even) {
    background-color: #B4D4E1;
  } 
}

.africa {
  background-color: #CF9832;
  color: #CE9732;

  .country-name:before {
    background-color: #CE9732;
  }
  .count {
    color: #4C3A10; 
  }
  .row:nth-child(odd) {
    background-color: #F4EBCF;
  }
  .row:nth-child(even) {
    background-color: #F2E2BC;
  } 
}

.oceania {
  background-color: #009A99;
  color: #009A98;
  .country-name:before {
    background-color: #009A98;
  }
  .count {
    color: #003637; 
  }
  .row:nth-child(odd) {
    background-color: #C9ECEB;
  }
  .row:nth-child(even) {
    background-color: #B2E3E2;
  } 
}

/*------------- MOBILE VIEW -----------------*/
// iPad portrait and landscape 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
{
  .continent {

    .header {
      min-height: 0;
      padding: 0 0 0 35px;
      .icon {
        width: 90px;
        height: 90px;
      }
    }
    .row {
      text-align: left;
      .countries-container {
        width: 100vw;
        padding: 0;
        .country-container {
          width: 250px;
        }
      }
    }
  }
}

// Google Nexus 
@media only screen 
and (min-device-width : 960px) 
and (max-device-width : 1280px) 
{
  .continent {

    .header {
      min-height: 0;
      padding: 0 0 0 35px;
      .icon {
        width: 90px;
        height: 90px;
      }
    }
    .row {
      text-align: left;
      .countries-container {
        width: 100vw;
        .country-container {
          width: 240px;
          padding: 50px 20px 60px 50px;
        }
      }
    }
  }
}

// iPhone4 portrait and landscape 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .continent {

    .header {
      min-height: 0;
      line-height: 16.6vh;
      padding: 0 0 0 35px;
      font-size: 2.7em;
    }
    .row {
      text-align: left;
      .countries-container {
        width: auto;
      }
    }

    .country-container {
      width: 50%;
      min-width: 0;
      max-width: 500px;
      padding: 100px 20px 70px 130px;

      .country-name {
        font-size: 2.4em;
        margin-bottom: 35px;
      }
      .count {
        font-size: 2.8em;
      }
      .info {
        font-size: 1.7em;
      }
    }
  }
}

// iPhone 6 in portrait and landscape 
@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 667px) {
    .continent {

    .header {
      min-height: 0;
      line-height: 16.6vh;
      padding: 0 0 0 35px;
      font-size: 2.8em;

      .icon {
        width: 150px;
        height: 150px;
      }
    }
    .row {
      text-align: left;
      .countries-container {
        width: auto;
      }
    }

    .country-container {
      width: 50%;
      min-width: 0;
      max-width: 667px;
      padding: 120px 10px 80px 130px;

      .country-name {
        font-size: 2.6em;
        margin-bottom: 35px;
      }
      .count {
        font-size: 2.8em;
      }
      .info {
        font-size: 1.7em;
      }
    }
  }
}
