* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Bodoni Poster';
  src: url("/fonts/bodoni-poster.eot");
  /* IE9 compat modes */
  src: url("/fonts/bodoni-poster.eot?#iefix") format("embedded-opentype"), url("/fonts/bodoni-poster.woff") format("woff"), url("/fonts/bodoni-poster.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Futura Book Bold';
  src: url("/fonts/futura-book-bold.ttf") format("truetype");
  src: url("/fonts/futura-book-bold.woff") format("woff");
}
body {
  font-family: 'Futura Book Bold', Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* The starting CSS styles for the enter animation */
.slide.ng-enter {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.4s linear all;
  -moz-transition: 0.4s linear all;
  transition: 0.4s linear all;
}

/* The finishing CSS styles for the enter animation */
.slide.ng-enter.ng-enter-active {
  max-height: 1000px;
}

/* The starting CSS styles for the leave animation */
.slide.ng-leave {
  max-height: 1000px;
  opacity: 1;
  overflow: hidden;
  -webkit-transition: 0.4s linear all;
  -moz-transition: 0.4s linear all;
  transition: 0.4s linear all;
}

.slide.ng-leave.ng-leave-active {
  max-height: 0;
  overflow: hidden;
}

.continent .icon {
  width: 120px;
  height: 120px;
  display: inline-block;
  vertical-align: middle;
}
.continent .continent-name {
  letter-spacing: 3px;
  margin: 0 0 0 10px;
}
.continent .continent-total {
  font-family: 'Bodoni Poster';
  margin: 0 0 0 10px;
}
.continent .header {
  height: 16.7vh;
  min-height: 160px;
  min-width: 550px;
  color: #FFF;
  font-size: 30px;
  padding: 20px 0 0 35px;
  text-transform: uppercase;
}
.continent .header:hover {
  cursor: pointer;
}
.continent .country-container {
  width: 250px;
  display: inline-block;
  padding: 50px 40px;
  text-transform: uppercase;
  vertical-align: top;
  z-index: -5;
}
.continent .country-container .country-name {
  position: relative;
  padding: 0;
  font-size: 1.3em;
  height: 50px;
  margin: 0 0 25px 0;
}
.continent .country-container .country-name .name {
  position: absolute;
  bottom: 0;
}
.continent .country-container .country-name:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  bottom: -5px;
}
.continent .country-container .count {
  display: block;
  font-size: 3.3em;
  margin: 14px 0 -8px 0;
  font-family: 'Bodoni Poster';
}
.continent .country-container .info {
  font-size: 0.7em;
}
.continent .country-container .info.hidden {
  display: none;
}

.europe {
  background-color: #6B0062;
  color: #6A005F;
}
.europe .country-name:before {
  background-color: #6A005F;
}
.europe .count {
  color: #33022E;
}
.europe .row:nth-child(odd) {
  background-color: #E1CCDE;
}
.europe .row:nth-child(even) {
  background-color: #D7B7D3;
}

.asia {
  background-color: #9F0006;
  color: #A00006;
}
.asia .country-name:before {
  background-color: #A00006;
}
.asia .count {
  color: #480306;
}
.asia .row:nth-child(odd) {
  background-color: #ECCCCC;
}
.asia .row:nth-child(even) {
  background-color: #E4B5B7;
}

.south-america {
  background-color: #D2653C;
  color: #D16438;
}
.south-america .country-name:before {
  background-color: #D16438;
}
.south-america .count {
  color: #4F170C;
}
.south-america .row:nth-child(odd) {
  background-color: #F3DDD3;
}
.south-america .row:nth-child(even) {
  background-color: #F3D4C8;
}

.north-america {
  background-color: #006695;
  color: #006795;
}
.north-america .country-name:before {
  background-color: #006795;
}
.north-america .count {
  color: #002E3C;
}
.north-america .row:nth-child(odd) {
  background-color: #CAE0EA;
}
.north-america .row:nth-child(even) {
  background-color: #B4D4E1;
}

.africa {
  background-color: #CF9832;
  color: #CE9732;
}
.africa .country-name:before {
  background-color: #CE9732;
}
.africa .count {
  color: #4C3A10;
}
.africa .row:nth-child(odd) {
  background-color: #F4EBCF;
}
.africa .row:nth-child(even) {
  background-color: #F2E2BC;
}

.oceania {
  background-color: #009A99;
  color: #009A98;
}
.oceania .country-name:before {
  background-color: #009A98;
}
.oceania .count {
  color: #003637;
}
.oceania .row:nth-child(odd) {
  background-color: #C9ECEB;
}
.oceania .row:nth-child(even) {
  background-color: #B2E3E2;
}

/*------------- MOBILE VIEW -----------------*/
@media (max-width: 600px) {
  .continent .header {
    font-size: 1.3em;
    height: 16.7vh;
    line-height: 16.7vh;
    min-height: 100px;
    padding: 0 0 0 18px;
  }
  .continent .icon {
    width: 80px;
    height: 80px;
  }
  .continent .country-container {
    width: 50%;
    margin: 0 auto;
    padding: 40px 40px 40px 25px;
  }
}
