* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Bodoni Poster';
  src: url("/fonts/bodoni-poster.eot");
  /* IE9 compat modes */
  src: url("/fonts/bodoni-poster.eot?#iefix") format("embedded-opentype"), url("/fonts/bodoni-poster.woff") format("woff"), url("/fonts/bodoni-poster.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Futura Book Bold';
  src: url("/fonts/futura-book-bold.ttf") format("truetype");
  src: url("/fonts/futura-book-bold.woff") format("woff");
}
body {
  font-family: 'Futura Book Bold', Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.continent .icon {
  width: 125px;
  height: 125px;
  display: inline-block;
  vertical-align: middle;
}
.continent .continent-name {
  letter-spacing: 3px;
  margin: 0 0 0 10px;
}
.continent .continent-total {
  font-family: 'Bodoni Poster';
  margin: 0 0 0 10px;
}
.continent .header {
  height: 16.7vh;
  line-height: 16.7vh;
  min-height: 160px;
  min-width: 550px;
  color: #FFF;
  font-size: 30px;
  padding: 0 0 0 35px;
  text-transform: uppercase;
}
.continent .header:hover {
  cursor: pointer;
}
.continent .row .countries-container {
  margin: 0 auto;
  width: 80vw;
}
.continent .country-container {
  width: 20vw;
  min-width: 200px;
  max-width: 265px;
  display: inline-block;
  padding: 50px 60px;
  text-transform: uppercase;
  vertical-align: top;
  text-align: left;
}
.continent .country-container .country-name {
  position: relative;
  padding: 0;
  font-size: 1.3em;
  height: 50px;
  margin: 0 0 25px 0;
}
.continent .country-container .country-name .name {
  position: absolute;
  bottom: 0;
  left: 0;
}
.continent .country-container .country-name:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  bottom: -5px;
  left: 0;
}
.continent .country-container .count {
  display: block;
  font-size: 3.3em;
  margin: 14px 0 -8px 0;
  font-family: 'Bodoni Poster';
}
.continent .country-container .info {
  font-size: 0.7em;
}
.continent .country-container .info.hidden {
  display: none;
}

.europe {
  background-color: #6B0062;
  color: #6A005F;
}
.europe .country-name:before {
  background-color: #6A005F;
}
.europe .count {
  color: #33022E;
}
.europe .row:nth-child(odd) {
  background-color: #E1CCDE;
}
.europe .row:nth-child(even) {
  background-color: #D7B7D3;
}

.asia {
  background-color: #9F0006;
  color: #A00006;
}
.asia .country-name:before {
  background-color: #A00006;
}
.asia .count {
  color: #480306;
}
.asia .row:nth-child(odd) {
  background-color: #ECCCCC;
}
.asia .row:nth-child(even) {
  background-color: #E4B5B7;
}

.south-america {
  background-color: #D2653C;
  color: #D16438;
}
.south-america .country-name:before {
  background-color: #D16438;
}
.south-america .count {
  color: #4F170C;
}
.south-america .row:nth-child(odd) {
  background-color: #F3DDD3;
}
.south-america .row:nth-child(even) {
  background-color: #F3D4C8;
}

.north-america {
  background-color: #006695;
  color: #006795;
}
.north-america .country-name:before {
  background-color: #006795;
}
.north-america .count {
  color: #002E3C;
}
.north-america .row:nth-child(odd) {
  background-color: #CAE0EA;
}
.north-america .row:nth-child(even) {
  background-color: #B4D4E1;
}

.africa {
  background-color: #CF9832;
  color: #CE9732;
}
.africa .country-name:before {
  background-color: #CE9732;
}
.africa .count {
  color: #4C3A10;
}
.africa .row:nth-child(odd) {
  background-color: #F4EBCF;
}
.africa .row:nth-child(even) {
  background-color: #F2E2BC;
}

.oceania {
  background-color: #009A99;
  color: #009A98;
}
.oceania .country-name:before {
  background-color: #009A98;
}
.oceania .count {
  color: #003637;
}
.oceania .row:nth-child(odd) {
  background-color: #C9ECEB;
}
.oceania .row:nth-child(even) {
  background-color: #B2E3E2;
}

/*------------- MOBILE VIEW -----------------*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .continent .header {
    min-height: 0;
    padding: 0 0 0 35px;
  }
  .continent .header .icon {
    width: 90px;
    height: 90px;
  }
  .continent .row {
    text-align: left;
  }
  .continent .row .countries-container {
    width: 100vw;
    padding: 0;
  }
  .continent .row .countries-container .country-container {
    width: 250px;
  }
}
@media only screen and (min-device-width: 960px) and (max-device-width: 1280px) {
  .continent .header {
    min-height: 0;
    padding: 0 0 0 35px;
  }
  .continent .header .icon {
    width: 90px;
    height: 90px;
  }
  .continent .row {
    text-align: left;
  }
  .continent .row .countries-container {
    width: 100vw;
  }
  .continent .row .countries-container .country-container {
    width: 240px;
    padding: 50px 20px 60px 50px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .continent .header {
    min-height: 0;
    line-height: 16.6vh;
    padding: 0 0 0 35px;
    font-size: 2.7em;
  }
  .continent .row {
    text-align: left;
  }
  .continent .row .countries-container {
    width: auto;
  }
  .continent .country-container {
    width: 50%;
    min-width: 0;
    max-width: 500px;
    padding: 100px 20px 70px 130px;
  }
  .continent .country-container .country-name {
    font-size: 2.4em;
    margin-bottom: 35px;
  }
  .continent .country-container .count {
    font-size: 2.8em;
  }
  .continent .country-container .info {
    font-size: 1.7em;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-width: 667px) {
  .continent .header {
    min-height: 0;
    line-height: 16.6vh;
    padding: 0 0 0 35px;
    font-size: 2.8em;
  }
  .continent .header .icon {
    width: 150px;
    height: 150px;
  }
  .continent .row {
    text-align: left;
  }
  .continent .row .countries-container {
    width: auto;
  }
  .continent .country-container {
    width: 50%;
    min-width: 0;
    max-width: 667px;
    padding: 120px 10px 80px 130px;
  }
  .continent .country-container .country-name {
    font-size: 2.6em;
    margin-bottom: 35px;
  }
  .continent .country-container .count {
    font-size: 2.8em;
  }
  .continent .country-container .info {
    font-size: 1.7em;
  }
}
